/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li, input,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	text-decoration: none;
	background-color: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------- CSS TEAMUP! ------------------------------- */

/* REGLAS GENRALES ------------------------------- */
body {
	background-color: #FFF;
	font-family: 'Roboto', sans-serif;
	padding: 10px 0 0 0;
}
.grid {
	display: grid;
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	overflow: hidden;
}
a {
	color: #30499B;
}
a:hover {
	text-decoration: none;
	color: #999999;
}
h3 {
	font-size: 1.2em;
	/*color: #333333;*/
	color: #30499B;
	font-weight: 600;
	text-transform: uppercase;
	display: inline-block;
}
h4 {
	font-size: 0.9em;
	color: #333333;
	font-weight: 400;
	text-transform: uppercase;
}
h5 {
	font-size: 1em;
	color: #30499B;
	font-weight: 500;
	margin: 5px 0;
	text-align: left;
	text-transform: uppercase;
}
h6 {
	font-size: 0.8em;
	line-height: 1.2em;
}
.linkeo {
	margin: 0 auto;
	width: 250px;
	text-align: center;
}
hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #969696;
}
.section_tit {
	margin-top: 20px;
	text-align: center;
	
}
.heading {
	position: relative;
	position: relative;
    left: 20px;
    padding: 10px;
    margin: 10px 0;
    font-size: 1.4em;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.out-section {
	display:flex;
	flex-wrap: nowrap;

}
.info {
	display: inline-block;
    width: 90%;
    margin: 10px;
}
.info h3 {
	margin: 20px 0;
	font-size: 1.4em;
}
.info p {
	font-size: 1.2em;
	line-height: 1.5;
}

/* HEADER ------------------------------- */
.head-left {
	display: none;
}
.header_logo {
	text-align: center;
	overflow: hidden;
	display: block;
}
header {
	font-size: 1.5em;
	width: 100%;
	height: 50px;
	display: flex;
	text-align: center;
	overflow: hidden;
	margin: 10px 0 0 0;
}
.logo {
	width: 120px;
}
h1 {
	width: 100%;
	flex: 1;
	position: absolute;
}

/* MENU  ------------------------------- */
.burger-icon {
	float: right;
	color: #30499B;
}
.dropbtn {
	overflow: hidden;
	position: relative;
	right: 20px;
	background-color: white
}
.dropbtn i {
	margin-right: 0;
	font-size: 30px;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: fixed;
	right: 0;
	background-color: #ffffff;
	width:100%;
	height: 100vh;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 99;
	list-style: none;
	padding-top: 15px;
}
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.show {
	display:block;
}
.menu {
	width: 100%;
	align-self: center;
	float: right;
}
.menu ul {
	display: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.nav-items {
	list-style: none;
	margin: 0 auto;
}
.nav-items a {
	font-size: 1em;
	font-weight: 500;
}
.nav-items a:hover {
	color: #999999;
}
.user {
	color: #f3a530;
}
.foto-perfil {
	max-height: 40px;
	max-width: 40px;
	border-radius: 50%;
	overflow: hidden;
}
.foto-perfil img {
	width: 100%;
	height: 100%;
}

/* BOTONES  ------------------------------- */
.buscador-mobile-btn {
	display: block;
	margin: 10px auto;
	width: 250px;
	padding: 6px;
	background-color: #30499B;
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
	font-size: 0.9em;
	display: block;
}
.btn-solid {
	margin: 10px auto;
	max-width: 250px;
	padding: 6px;
	background-color: #30499B;
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
	font-size: 0.9em;
	display: block;
}
.btn-solid:hover, .btn-solid-sm:hover, .btn-solid-lg:hover {
	background-color: #01264a;
	color: white;
}
.btn-solid-sm {
	width: 80px;
	padding: 8px;
	background-color: #30499B;
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-size: 0.8em;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	height:100%
}
.btn-solid-lg {
	width: 250px;
	padding: 6px;
	background-color: #30499B;
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-size: 0.8em;
	margin: 0 auto;
	display: block;
	letter-spacing: 0.05em;
}
.btn_upload {
	width: 100%;
	display: block;
	text-align: center;
	background-color: #F3A530;
}
.btn_upload:hover {
	background-color: #bd7100,
}
/* MEGA-IMG ------------------------------- */
.mega {
	display: flex;
	align-items: center;
	background-image: url('../images/mega.jpg');
	background-size: cover;
	color: #ffffff;
	height: 60vh;
	width: 100%;
	margin-bottom: 20px;
}
.mega h2 {
	font-size: 1.8em;
	font-weight: 700;
	margin: 0;
	color: #fff;
	max-width: 250px; /* para que se arme en dos lineas */
	margin: 0 auto; /* para que se centre en otros viewports */
	text-shadow: 1px 1px 8px #000000;
}
.mega img {
	margin: 0 0 30px;
	padding-left: -15px;
	padding-right: -15px;
	width: 100%;
}
.caption {
	text-align: center;
	//display:none;
}

/* BUSCADOR ------------------------------- */
.buscador {
	border: 1px solid #30499B;
	margin: 10px 0 20px auto;
	padding: 10px;
	display: block;
    overflow: hidden;
}
.buscador-field {
	border: 0;
	width: 25%;
	border-right: 1px solid #30499B;
	color: #333333;
	margin-right: 5px;
}
.buscador-form {
	height:40px;
	width:100%;
	text-align: center;
}
.buscador select {
	width: 50%;
	border: 0;
	height:100%

}
.searchResults {
	width: 100%;
	background-color: rgba(42, 75, 102, 0.08);
	min-height: 600px;
}

.no-matches {
	margin: 20px;
	padding: 10px;
}
.no-matches h2 {
	font-size : 1.6em;
	line-height: 2;
}



/* SLIDER  ------------------------------- */
.slider {
	width: 100%;
	overflow: hidden;
	text-align: left;
	position: relative;
}
.flechas {
	position: absolute;
	top: 35%;
	z-index: 2;
	color: white;
	width: 100%;
	padding: 0 10px;
	font-size: 1.5em;
}
.flechas button {
	width: 40px;
	height: 40px;
	background-color: rgba(0, 51, 102, 0.71);
	border-radius: 50%;
}
.flecha_izq {
	float: left;
}
.flecha_der {
	float: right;

}
.ver_todos {
	float: right;
	margin-bottom: 10px;
	font-size: 0.8em;
	vertical-align: baseline;
	line-height: 1.5em;
	font-weight: 600;
}
.evento {
	display: none;
	position: relative;
	width: 100%;
	overflow: hidden;
}
.evento:first-child {
	display: block;
}
.evento img {
	width: 100%;
}
.evento_deporte {
	font-weight: 500;
	font-size: 1.5em;
	text-transform: uppercase;
	margin-bottom: 4px;
	max-width: 100px;
}
.evento_zona {
	font-size: 1em;
	font-weight: 400;
}
.overlay {
	position: absolute;
	left: 20px;
	top: 20px;
	z-index: 1;
	color: white;
	text-shadow: 1px 1px 2px #303030;
}
.evento_datos {
	text-align: left;
	margin-top: 5px;
}
.faltan {
	font-weight: 600;
	color: red;
	text-transform: uppercase;
	font-size: 0.8em;
	margin-bottom: 3px;
}
.evento_fecha {
	font-size: 0.8em;
}

/* RECOMENDADOS ------------------------------- */

.lista-prox-part {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}
/* .lista-prox-part:after {
	content: "";
	width: 32%;
} */
.lista-prox-part li {
	flex-basis: 98%;
	margin:0;
}
.deporte {
	width: 100%;
	float: left;
	margin-bottom: 12px;
}
.deporte img {
	width: 100%;
	margin: 10px 0 2px 0;
}
.deporte h6 {
	text-align: left;
}

/* FORMS ------------------------------- */
.caja {
	background-color: white;
	max-width: 300px;
	padding-top: 25px;
	padding-bottom: 25px;
	border: 2px solid blue;
}
.cajita {
	padding: 20px;
    width: 100%;
    margin: 20px auto;
    border: 1px solid #30499B;
    background-color: rgba(42, 75, 102, 0.08);
}

.form-cajita {
	margin: 10px;
}
.linkeo h6{
	line-height: 1.5;
}

.hide {
	display:none;
}
.match-field {
	margin: 5px;
	padding: 5px;
	overflow: hidden;
}
textarea {
	width: 100%;
}
.input-create {
	width: 100%;
	height: 50px;
	font-size: 1.1em;
	margin: 5px 0;
	box-sizing: border-box;
}
.field-edit {
	border: 1px solid lightgrey;
	margin: 10px auto;
	width: 100%;
	padding: 6px;
	display: inline-block;
	font-size: 0.8em;
	
}
.lbl-create {
	font-size: 1.1em;
	font-family: 'Roboto', sans-serif;
	display: block;
	margin-bottom: 10px;
}
.date-cont {
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: flex-start;
	justify-content: space-between;
}
.date-input {
	height: 40px;
	flex-shrink: 1;
	flex-basis: 25%;
}
.form {
	margin: 20px auto;
	position:relative;
}
.form h6 {
	display: inline;
}
.file_div {
	display:inline-block;
	margin: 5px 10px;
	padding: 0 5px;
	width: 250px;
	overflow: hidden;
	box-sizing: border-box;
}
.file_div #profilePic_label {
	position: relative;
	top: 5px;
	font-size: 0.8em;
}

label {
	cursor: pointer;
	/* Style as you please, it will become the visible UI component. */
}
#upload-photo {
	opacity: 0;
	position: absolute;
	z-index: -1;
}
.profile_icon {
	width: 80%;
	height: auto;
	border-radius: 50%;
	display: block;
	margin: 15px;
}
.field {
	border: 1px solid #30499B;
	margin: 5px auto;
	width: 250px;
	padding: 6px;
	display: block;
	font-size: 0.8em;
}
input[type="checkbox"] {
	display: inline-block;
}
input[type="file"] {
	display: block;
	width: 250px;
	margin: 10px auto;
	font-size: 0.8em;
}
.con_fb {
	max-width: 250px;
	margin: 20px auto;
}
.legals, .legals2 {
	text-align: left;
	max-width: 250px;
	margin: 10px auto;
}
.recordarme {
	max-width: 250px;
	margin: 10px auto;
	text-align: left;
	font-size: 0.8em;
}
.errores {
	font-size: 0.8em;
	line-height: normal;
	color: red;
	max-width: 245px;
	list-style: disc;
	margin: 0 auto;
	display: flex;
}

/* FAQ -------------------------------------- */
.panel {
	overflow: hidden;
	text-align: center;
	margin: 0 auto;
	max-width: 480px;
	border-radius: 0;
	box-shadow: none;
}
.panel-title {
	font-size: 0.9em;
}
.panel-group .panel {
	border-radius: 0px;
}
.panel-body {
	font-size: 0.9em;
	line-height: normal;
	text-align: left;
}
.panel-default > .panel-heading {
	border-color: #30499B;
	background-color: white;
}
.fa {
	font-size: 20px;
}
.faq_title {
	font-weight: bold;
	line-height: 2.5em;
	font-size: 1em;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.faq_index {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.faq_card {
	width: 100%;
	display: block;
	padding: 15px;
	text-align: center;
	line-height: 1.4em;
	height: 200px;
}
.faq_card .fa {
	color: #F3A530;
}

/* USER DASHBOARD ------------------------------- */
.dashSection {
	position: relative;
	width: 90%;
	background-color: rgba(42, 75, 102, 0.08);
}
.dashTitle {
	
	position: relative;
	overflow: auto;
}
.dashTitle h1 {
	font-size: 1.8em;
	padding: 0;
}

/* CREAR PARTIDO --------------------- */
.create-match {
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
}

/* MIS PARTIDOS ------------------------------- */

.matches-container {
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width:100%;
}
.results-container {
	margin-top: 30px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width:100%;
}

.container-match {
	height: 100px;
	width: 100%;
	position: relative;
	overflow: hidden;
	border: 1px solid lightgrey;
}
.top {
	height: 50%;
}
.overlay-match {
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	padding: 8px;
}
.sport-heading {
	display: inline-block;
	width: auto;
	font-size: 1.4em;
	overflow: hidden;
	margin: 4px;
}
.nplayers-container {
	float: right;
	position: absolute;
	top: 10px;
	right: 15px;
}
.divisor {
	width: 80px;
	height: 80px;
}
.hay-nplayers {
	font-size: 30px;
	color: #d87a0e;
	position: absolute;
	top: 5px;
	left: 25px;
}
.total-nplayers {
	font-size: 1em;
	color: black;
	position: absolute;
	bottom: 20px;
	right: 2px;
}
.picContainer {
	overflow: hidden;
	position: absolute;
	top: 35px;
	right: 10px;
	margin: 0;
	display: inline;
	width: 54px;
	height: 54px;
}
.userPic {
	overflow: hidden;
	float: right;
	position: relative;
	position: relative;
	left: -4px;
	top: 5px;
	right: 5px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	z-index: 3;
}
.countMobile {
	display: inline;
	overflow: hidden;
	position: relative;
	float: right;
	top: 5px;
	right: 10px;
	font-size: 1.4em;
}
.countDesktop {
	display:none;
}
.fondo {
	height: 100%;
	width: 100%;
	z-index: 2;
	background-color: white;
	position: relative;
	top: 0;
	right: 0;
	float: right;
	border-radius: 50%;
}
.info-match {
	overflow: hidden;
	margin-top: 10px;
}
.info-match p {
	margin: 0 0 0 4px;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
}
.info-match p:first-child {
	font-size: 1em;
	font-weight: 600;
	padding-bottom: 0;
}
.info-match p:nth-child(n+3) {
	font-size: 0.8em;
	color: black;
}
.info-match p:last-child {
	margin-top: 0;
}
.plus {
	border-radius: 50%;
	background-color: black;
	width: 40px;
	height: 40px;
	overflow: hidden;
	position: relative;
	float: right;
	top: 230px;
	right: 8px;
	font-size: 2em;
	text-align: center;
	color: white;
	z-index: 5;
}
.plus:hover {
	background-color: #d87a0e;
}
.plus p {
	margin-top: 4px;
}
.bottom {
	display: none;
	width: 100%;
	height: 46%;
	position: absolute;
	bottom: 0;
	background-size: cover;
}
.views-likes {
	position: relative;
	bottom: -102px;
	left: 20px;
	color: white;
}
.views-likes p {
	display: inline;
	font-size: 0.9em;
	margin-right: 8px;
}
.views-likes i {
	font-size: 0.9em;
}
.sport-img {
	width: 100%;
}

/* FOOTER ------------------------------- */
.footer_outer {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	padding: 0 0 20px;
	overflow: hidden;
}
.footer_outer h3 {
	font-size: 0.6em;
	margin-top: 0px;
}
.footer_inner {
	display: flex;
	margin: 0 auto;
	padding: 0 15px;
	justify-content: space-between;
}
footer .logo {
	width: 20%;
	padding-top: 3px;
	box-sizing: content-box;
}
footer .logo img {
	width: 110px;
	overflow: hidden;
}
footer .cia {
	box-sizing: border-box;
	overflow: hidden;
}
footer .comunidades {
	overflow: hidden;
}
footer .enlaces {
	float: left;
	overflow: hidden;
}
.foot_links {
	padding-top: 3px;
	font-size: 0.5em;
}
footer .redes {
	width:100%;
	overflow: hidden;
	box-sizing: border-box;
	margin-bottom: 10px;
	margin: 10 auto;
	padding: 0 15px;
}
footer .redes ul {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content:center;
	height: 30px;
}
footer .redes li {
	display: inline;
	margin-right: 20px;
	float: left;
	font-size: 1.5em;
}
footer .redes li:last-child {
	margin-right: 0;
}
footer .legales {
	box-sizing: border-box;
	overflow: hidden;
}
footer .legales ul {
	display: flex;
}
footer .legales li {
	margin-right: 10px;
	font-size: 0.6em;
}
footer .copyright {
}
.copyright p {
	display: block;
	overflow: hidden;
	text-align: center;
	margin: 0 auto;
	font-size: 0.5em;
}

/* FORMS ------------------------------- */
.form-editUser {
	margin: auto;
}
.form h6 {
	display: inline;
}
input[type="checkbox"] {
	display: inline-block;
}

.legals {
	text-align: left;
	max-width: 250px;
	margin: 10px auto;
}
.recordarme {
	max-width: 250px;
	margin: 10px auto;
	text-align: left;
	font-size: 0.8em;
}
.redirection {
	padding: 30px 0;
	text-align: center;
	height: 50vh;
	background-color: #e4e4e4;
	line-height: 1.2em;
	font-size: 1em;
}


/* FAQ */
.panel {
	overflow: hidden;
	text-align: center;
	margin: 0 auto;
	max-width: 480px;
	border-radius: 0;
	box-shadow: none;
}
.panel-title {
	font-size: 1em;
	font-weight: 600;
}
.panel-group .panel {
	border-radius: 0px;
}
.panel-body {
	font-size: 0.9em;
	line-height: 1.4em;
	text-align: justify;
}
.panel-default > .panel-heading {
	border-color: #30499B;
	background-color: white;
}

/* TABLA PARTIDOS */
.controls {
	margin: 10px auto 35px 0;
	text-align: right;
	font-size: 0.9em;
}
table, th, td {
	border-bottom: 1px solid #E5EAEF;
	padding: 8px;
	text-align: center;
}
th {
	background-color: #E5EAEF;
}
table {
	width: 100%;
}

/* PROFILE */
.left-nav {
	width:90%
}
.profile {
	margin: 20px;
	margin-bottom: 40px;
	padding: 10px;
	display:flex;
	flex-direction: column
}
.bigPic {
	
	display: inline-block;
	position: relative;
	top: 10px;
}
.bigPic img{
	width: 160px;
    height: auto;
	border-radius: 50%;
}
.userData {
	display: flex;
	justify-content: space-around;
	position: relative;
	float: right;
}
.userData span {
	display: flex;
	flex-direction: column;
	font-size: 1.2em;
	line-height: 1.5;
	margin: 5px;
	font-weight: 400;
}
.userData span:first-child {
	font-size: 1.5em;
	line-height: 2.5;
	font-weight: 600;
	

}

.dashMenu {
	text-align:center;
}

.flexbox {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	flex-direction: column;
    align-items: center;
}
.flexboxNoWrap {
	display: flex;
	flex-wrap: nowrap;
}
.buscar {
	width: 150px;
	border: 1px solid #30499B;
	margin-bottom: 20px;
    padding: 10px;
	display: inline-block;
	font-size: 0.8em;
}
.list-partidos {
	width: 100%;
	display: inline;
}
.main-item {
	font-size: 1.2em;
	color: #30499B;
	font-weight: 600;
	margin-bottom: 10px;
	
}
.dropdown-left {
	margin-bottom: 20px;
	display:none;
	
}
.dropdown-left li {
	font-size: 1em;
	color: black;
	padding: 6px;
	margin-left: 5px;
	height: 25px;
}
.dropdown-left li:hover {
	color: white;
	background-color: #F3A530;
}

/* MEDIA QUERIES ------------------------------- */
@media (min-width: 420px) {
	.nav-items {
		margin-right: 18px;
	}
	.nav-items:last-child {
		margin-right: 18px;
	}
	.nav-items a {
		font-size: 0.6em;
	}
	.container-match {
		height: 300px;
		width: 250px;
		//margin-right: 5%;
		margin-bottom: 40px;
	}
	
	.container-match:nth-child(3n) {
		margin-right: 0;
	}
	.bottom {
		display: block;
	}
	.sport-heading {
		display: inline-block;
		width: 60%;
		font-size: 1em;
		margin: 10px;
		color: black;
	}
	.info-match {
		position: absolute;
		top: 100px;
	}
	.info-match p {
		padding: 5px;
		font-size: 1em;
		font-family: 'Roboto', sans-serif;
	}
	.info-match p:first-child {
		font-size: 1.1em;
	}
	.info-match p:nth-child(n+3) {
		font-size: 0.8em;
		color: white;
	}
	.countMobile {
		display: none;
	}
	.countDesktop {
		display: inline-block;
	}
	.picContainer {
		top: 43%;
	}
}

@media (min-width:620px) {
	.buscador-mobile-btn {
		display: none;
	}
	.buscador {
		display: flex;
		
		font-size: 1em;
		justify-content: center;
	}
	.buscador-form button {
		display: inline-block;
	}
	.footer_outer h3 {
		font-size: 0.8em;
		margin-bottom: 5px;
	}
	.foot_links {
		font-size: 0.65em;
	}
	.copyright p {
		font-size: 0.65em;
	}
	.lista-prox-part li {
		flex-basis: 48%;
	}
	.faq_card {
		width: 33%;
	}
	.dashSection {
		width: 95%;
		min-height: 690px;
	}
	.userData {
		float:none;
	}
	.dropdown-left {
		display: block;
	}
	.info {
		display: inline-block;
		width: 50%;
		position: absolute;
		right: 0;
	}
	.cajita {
		width: auto;
		position: absolute;
		top: 58px;
		right: 20px;
		padding: 20px 0;
		height: 300px;
	}

}
	@media (min-width: 768px) {
		header {
			justify-content: center;
			margin: 25px 0;
		}
		.head-left {
			display: inline;
			width: 25%;
		}
		.logo {
			width: 180px;
		}
		h1 {
			padding: 0 10px;
			align-self: baseline;
			width: 500px;
		}
		.burger-icon {
			display: none;
		}
		.nav-items {
			margin-right: 18px;
		}
		.menu ul {
			display: flex;
			justify-content: flex-end;
			flex-wrap: wrap;
		}
		.nav-items {
			margin: 0;
			margin-right: 18px;
		}
		.mega {
			height: 50vh;
		}
		.mega h2 {
			font-size: 4em;
			max-width: 600px;
			padding-bottom: 10px;
		}
		.caja {
			max-width: 300px;
		}
		.create-match {
			position: relative;
			right: 20px;
			margin: 40px 0 0 0;
		}
		.section_tit {
			margin-top: 50px;
			text-align: center;
			margin-bottom: 20px;
			color: #F3A530;
		}
		
		.container-match {
			//flex-basis: 30%
			
		}
		.btn-solid {
			max-width: 280px;
			font-size: 1.1em;
		}
		.header_link {
			display: inline-block;
		}
		.evento {
			display: table-cell;
			padding-right: 10px;
			width: 20%;
		}
		.evento:first-child {
			display: table-cell;
		}
		.evento:last-child {
			padding-right: 0;
			width: 19%;
		}
		.flechas {
			top: 25%;
		}
		.flechas .fa {
			color: white;
			font-size: 1em;
		}
		.login_img {
			background-image: url("../images/login_img.jpg");
			background-size: cover;
			padding-top: 50px;
			padding-bottom: 50px;
		}
		.register_img {
			background-image: url("../images/register_img.jpg");
			padding-top: 50px;
			padding-bottom: 50px;
		}
	
		.faq_img {
			background-image: url("../images/faq_img.jpg");
			padding-top: 50px;
			padding-bottom: 50px;
		}
		footer .redes {
			margin-bottom: 20px;
		}
		footer .redes ul{
			height: 40px;
		}
		.footer_outer {
			padding-top: 20px;
		}
		.footer_outer h3 {
			font-size: 0.9em;
			margin-bottom: 5px;
		}
		.foot_links {
			font-size: 0.75em;
		}
		.copyright p {
			font-size: 0.75em;
		}
		footer .legales li {
			font-size: 0.8em;
		}
		.lista-prox-part li {
			flex-basis: 32%;
			margin:0;
		}
		.evento {
			display: table-cell;
			padding-right: 10px;
			width: 20%;
		}
		.evento:last-child {
			padding-right: 0;
			width: 19%;
		}
		.left-nav {
			overflow: hidden;
			align-items: flex-start;
			display: inline;
			width: 20%;
		}
		.list-partidos {
			width: 80%;
		}
		.dashSection {
			width: 70%;
		}
		.flexbox {
			flex-direction: row;
			align-items: flex-start; */	
		}
	}


	@media (min-width: 1200px) {
		.container {
			width: 1170px;
		}
		/* .matches-container {
			justify-content: flex-start;
		} */
		.sport-heading {
			width: 60%;
			font-size: 1.6em;
		}
	}
